* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100%;
    background-color: #5874F6;
    color: white;
    padding: 20px;
    font-size: 18px;
}

p,i {display: inline;}
.fa-ellipsis-v {float: right;}
 
.content {
    padding: 40px;
}

.content>button{
    display: grid;
    padding: 20px;
    background: linear-gradient(45deg, #7e4bca 0%,#5874f6 100%);
    width: 100%;
    border: none;
    color: white;
    margin-bottom: 15px;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0,0.2);
}

.content>button>p>i{
    font-size: 25px;
}

.content>button:active{
  transform: translateY(4px);
}
